.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1{
  margin-bottom: 30px;
  color: #fff;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.5rem;
  margin: 10px;
}

.todoText{
  cursor: pointer;
  font-weight: bold;
}

.completed{
  text-decoration: line-through;
  text-decoration-color: crimson;
}

input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}

input:focus{
  border: 1px solid #0231e1;
}



.formControl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin-bottom: 10px;
}

.edit{
  color: #0231e1;
  background-color: #fff;
  border: 1px  solid #0231e1;
  border-radius: 5px;
  outline: none;
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
}

.remove{
  color: rgb(242, 15, 95);
  border: 1px solid rgb(242, 15, 95);
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

.Add{
  color: #fff;
  border: 1px solid rgb(53, 45, 47);
  background-color:#0231e1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}



.updateTodo{
  background-color: #fff;
  border: 1px solid #6d28d9;
  padding: 5px 10px;
  border-radius: 5px;
  color: #6d28d9;
}



.navBar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navBar span{
  background-color: #6d28d9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  color: #fff;
}

.select {
  margin-left: 10px;
}