.App{
  /* background-color: crimson; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1{
  margin-bottom: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.5rem;
  margin: 10px;
}

.completed{
  text-decoration: line-through;
  text-decoration-color: crimson;
  
}

input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
}

input:focus{
  border: 1px solid crimson;
}

button{
  margin-left: 1rem;
  padding: 4px 3px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}